body {
  background-image: url("../image/background.jpg");
  background-size: cover;
  color: #fff;
  font-family: "GothamPro", sans-serif;
  margin: 0;
  overflow-x: hidden;
}
@font-face {
  font-family: "GothamPro-lite";
  src: url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: "GothamPro-medium";
  src: url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}

.header {
  margin-top: 30px;
}
section {
  text-align: center;
}
.description {
  font-size: 12px;
  color: #bcbcbc;
}

.text-color {
  color: #d42e5b;
}
.number {
  text-align: end;
}

/* Анимация */

.number-footer._active {
  transform: translate(0px, 0px);
}
/* /Анимация */
.telnumber {
  font-size: 20px;
  font-weight: bold;
  font-family: "GothamPro-medium", sans-serif;
}
.info {
  font-size: 12px;
  margin-top: 10px;
  display: block;
  margin-bottom: 0px;
  letter-spacing: -1px;
}
.number a {
  text-decoration: none;
  color: #d42e5b;
  font-size: 16px;
  margin-top: 15px;
  display: block;
}

.hero {
  text-align: center;
  margin-top: 110px;
  padding-bottom: 77px;
  border-bottom: 1px solid rgb(124, 124, 124);
}
.hero-title {
  font-family: "GothamPro-medium", sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  opacity: 0;
  transform: translate(0px, 50px);
}
.hero-title._active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: all 1s ease 0s;
}
.hero-description {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
  color: #bcbcbc;
}
.hero-description span {
  color: #fff;
  font-weight: bold;
}

.slider-flowers {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

:root {
  --swiper-navigation-size: 15px;
}

.hero-cta {
  font-size: 19px;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.btnone {
  width: 300px;
  height: 70px;
  margin-top: 10px;
  background: #ff2a56;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.btnone:hover {
  box-shadow: inset 0 0 10px 5px #f77a93;
  transition: all 0.5s ease;
}
/***** section-reviews ******/

.reviews {
  padding-top: 70px;
  text-align: center;
}
.section-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  transform: translate(0px, 50px);
  opacity: 0;
  transition: all 0.8s ease-in 0s;
}
/* Анимация */

.section-title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
/* /Анимация */
.slider-reviews {
  margin-top: 50px;
  margin-bottom: 50px;
}
/****** SliderTwo ******/
.slider-reviews {
  width: 900px;
  max-width: 100%;
}

.sw-b {
  color: #f24841;
  --swiper-navigation-size: 30px;
}

.reviews-image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;

  position: relative;
  font-family: "GothamPro-Medium", sans-serif;
  margin-right: 50px;
}
.image-1 {
  background: url("../image/imageReview.png") no-repeat center;
}
.image-2 {
  background: url("../image/imageReview2.jpg") no-repeat center;
}

.reviews-image:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}
.reviews-image > * {
  position: relative;
}

.reviews-image .name {
  font-size: 20px;
  letter-spacing: 1px;
}
.reviews-image .city {
  font-size: 18px;
  font-family: "GothamPro", sans-serif;
}

.reviews-text {
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  width: 500px;
}
.reviews-text a {
  color: #f24841;
  text-decoration: none;
  border-bottom: 1px solid #f24841;
}
/* Aside */
.icons {
  min-height: 84px;
  margin-bottom: 30px;
}
.aside p {
  font-size: 20px;
  text-transform: uppercase;
}
.reviews {
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(124, 124, 124);
}

/* **Section-list** */
.list {
  text-align: center;
  padding-top: 77px;
  margin-bottom: 50px;
}
.section-title span {
  color: #ff1844;
}
.list-text {
  font-size: 18px;
}
/* **Cards** */
.cards {
  border: 2px solid rgb(243, 197, 197);
  border-radius: 10px;
  /* box-shadow: inset 0px 0px 1px 2px #d42e5b; */
  padding: 33px 35px 30px 35px;
  margin-top: 27px;
}

.cards img {
  height: 101px;
}

.card-label {
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
}

.color-label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.color-label.white {
  background-color: #fff;
}
.color-label.beige {
  background-color: #f7b496;
}
.color-label.pink {
  background-color: #e63369;
}
.color-label.red {
  background-color: red;
}
.color-label.blue {
  background-color: blue;
}
.color-input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -9;
}
.counter-input {
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #242424;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
}
.counter-button {
  width: 40px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #242424;
  border: none;
}
.counter-button:hover {
  border: 1px solid rgb(148, 148, 148);
  border-radius: 50px;
}

.counter-button:focus {
  outline: none;
}

.button-card {
  background-color: #ff2a56;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 16px 10px 13px 10px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  font-family: "GothamPro-medium";
}

.button-card:focus {
  outline: none;
}

.more {
  font-size: 14px;
  color: #f24841;
  text-align: center;
  margin-top: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
.more:focus {
  outline: none;
}
.more span {
  transform: rotate(100deg);
  -webkit-transform: rotate(90deg);
  display: inline-block;
  border: none;
}
/* fOOTER */

.offer {
  background-color: #1a1a1a;
  padding-top: 70px;
}

.offer-call {
  line-height: 50px;
  font-size: 30px;
  border-bottom: 1px solid #fff;
  display: inline-block;
}
.offer address {
  font-size: 36px;
  font-family: "GothamPro", sans-serif;
  font-style: normal;
  padding-bottom: 85px;
}

.footer-list {
  list-style: none;
  padding: 0;
}
/* Анимация */
.delivery {
  transform: translate(-250px, 0px);
  transition: all 0.8s ease 0s;
}
.delivery._active {
  transform: translate(0px, 0px);
}
/* /Анимация */
.footer-item:nth-child(2) {
  margin-left: 20px;
}

.footer-link {
  font-family: "GothamPro-medium", sans-serif;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px solid #fff;
}
.social {
  text-align: left;
  margin-top: 30px;
  font-size: 16px;
}
.social img {
  margin-left: 5px;
}
.department {
  text-align: right;
}
.department-adress {
  font-size: 16px;
  font-weight: 200;
}
.department a {
  font-family: "GothamPro-medium", sans-serif;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
/* Анимация */
.department {
  transform: translate(250px, 0px);
  transition: all 0.8s ease 0s;
}
.department._active {
  transform: translate(0px, 0px);
}
/* /Анимация */
/* Footer */
.footer {
  background-color: #fff;
  color: #000;
  text-align: left;
}
.logo {
  line-height: 90px;
}

.number-footer {
  text-align: end;
  transform: translate(250px, 0px);
  transition: all 0.8s ease 0s;
  overflow: hidden;
}
.number-footer a {
  text-decoration: none;
  color: #d42e5b;
  font-size: 16px;
  margin-top: 15px;
  display: block;
}

/* Показать все цветы */
.invisible {
  display: none;
}
.tog {
  display: block;
  opacity: 0;
}
.op {
  opacity: 1;
  transition: opacity 0.5s;
}
/* /Показать все цветы */
.newcolor {
  background-color: rgba(9, 126, 243, 0.658);
}
/*Анимация */
.logoanim {
  transform: translate(-250px, 0px);
  transition: all 0.8s ease 0s;
  overflow: hidden;
}
.logoanim._active {
  transform: translate(0px, 0px);
}
/* /Анимация */

/* ************** */
/* Адаптация */
@media (max-width: 1700px) {
  body {
    background-image: url("../image/backgroundMedia.jpg");
    background-size: cover;
    overflow-x: hidden;
  }
}
@media (max-width: 1200px) {
  .reviews-text {
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    width: 400px;
  }
  .colors {
    max-width: 200px;
    margin: 0 auto;
  }
}
@media (max-width: 770px) {
  .header {
    text-align: center;
    margin-top: 20px;
  }
  .number {
    text-align: center;
  }
  .delivery-footer {
    text-align: center;
    
  }
  .delivery {
    text-align: center;
  }
  .department {
    text-align: center;
  }
  .footer {
    text-align: center;
  }
  .number-footer {
    text-align: center;
  }
}
